body {
  margin: 0px;
}

.main-nav {
  display: flex;
  /*width: 50%;*/
  /*height: 25%;*/
}

.nav-titles {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.nav-titles a {
  text-decoration: none;
  /*width: 100%;
  height: 100%;*/
}

#home {
  background-color: #00A5BF;
  padding: 7% 53.3%;
}

#calendar {
  background-color: #00B7D3;
  padding: 7% 53.3%;
}

#join {
  background-color: #00D5E7;
  padding: 7% 53.3%;
}

#logo-main {
  background-color: #F5005B;
  padding: 11.2% 8%;
  height: 80%;
  width: 84%;
}

#title {
  background-color: white;
  color: black;
  padding: 0%;
}
.get-involved {
  margin-left: 3%;
  margin-right: 3%;
}

.get-involved h1 {
  background-color: #0B1942;
  color: #FFFFFF;
  font-weight: normal;
  padding-left: 3%;
}

.up-next {
  background-color: #0B1942;
  padding: 3%;
}

.up-next h1 {
  color: white;
  margin-top: 1%;
}

.rashomon {
  display: flex;
  background-color: white;
  padding: 4%;
}

.rashomon-txt {
  margin-left: 5%;
}

.rashomon-img {
  width: 45%;

}

.rashomon-img > img {
  height: 75%;
  width: 100%;
  object-fit: contain;
}

hr {
  width: 150%;
}

ul li {
  list-style-type: circle;
}

.other-films {
  padding: 4%;
  background-color: #E2E2E2;
  margin-top: 3%;
  margin-right: 0px;
  display: flex;
  flex-basis: 40%;
  flex-wrap: wrap;
  width: auto;
  padding-right: 0px;
  padding-bottom: 8%;
}

.train-robbery {
  width: 45%;
  margin-right: 2.5%;
  margin-bottom: 7%;
}

.train-robbery img {
  height: 85%;
  width: 100%;
}

.bicycle-thief {
  width: 45%;
  margin-left: 2.5%;
  margin-bottom: 7%;
}
.bicycle-thief img {
  height: 85%;
  width: 100%;
}

.nosferatu {
  width: 45%;
  margin-right: 2.5%;
}

.nosferatu img {
  height: 83%;
  width: 100%;
}

.metropolis {
  width: 45%;
  margin-left: 2.5%;
}

.metropolis img {
  height: 83%;
  width: 100%;
}

.home-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-footer a {
  text-decoration: none;
}

#home-footer {
  background-color: #00A5BF;
  padding: 3% 46.5%;
}

#calendar-footer {
  background-color: #00B7D3;
  padding: 3% 44.8%;
}

#join-footer {
  background-color: #00D5E7;
  padding: 3% 48%;
}

.copyright {
  background-color: #ABF6F6;
  padding: 7% 37%;
  width: 28%;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Calendar CSS*/

#meetup-calendar {
  margin-left: 5%;
  color: #0B1942;
}

.june-calendar {
  background-color: #0B1942
}

.june-title {
  margin-left: 5%;
  padding-top: 5%;
  color: white;
}

.calendar-table {
  color: white;
  width: 100%;
}

.calendar-table tr {
  line-height: 450%;
}

.calendar-table td {
  color: #0B1942;
  background-color: white;
  width: 5%;
  line-height: 300%;
}

td p {
  background-color: #0B1942;
  color: white;
  width: 45%;
  text-align: center;
  line-height: 170%;
  margin: -2% 10% 60% -1%;
}

.second-row td:nth-child(6) {
  background-color: #F5005B;
}

.fourth-row td:nth-child(6) {
  background-color: #F5005B;
}

/*Join CSS*/
form {
  margin-left: 3%;
}

.join-film-club {
  margin-left: 3%;
}

fieldset {
  border: none;
  padding-left: 0%;
}

#profile-placeholder {
  border-radius: 50%;
  width: 70%;
  margin-left: 14%;
}

#name {
  width: 100%;
  padding: 1% 0%;
}

#email {
  width: 100%;
  padding: 1% 0%;
}

#password {
  width: 100%;
  padding: 1% 0%;
}

#confirm-password {
  width: 100%;
  padding: 1% 0%;
}

#additional-input {
  width: 100%;
  line-height: 200%;
}

#submit-button {
  background-color: #F5005B;
  border: none;
  line-height: 400%;
}

.textarea {
  margin-bottom: 8%;
}

@media screen and (min-width: 544px) {
  .main-nav {
    background-color: white;
  }

  .nav-titles {
    display: flex;
    /*height: 100%;*/
    flex-direction: row;
    justify-content: flex-start;
  }

  .logo {
    width: 12%;
    height: 12%;
  }


  #home {
    background-color: #00A5BF;
    padding: 10% 7.5%;
    height: 100%;
  }

  #calendar {
    background-color: #00B7D3;
    padding: 10% 5%;
    height: 100%;
  }

  #join {
    background-color: #00D5E7;
    padding: 10% 9%;
    height: 100%;
  }

  #light-blue {
    background-color: #ABF6F6;
    width: 100%;
    padding-right: 75%;
  }

  #logo-main {
    background-color: #F5005B;
    padding: 13.5% 12%;
    height: 100%;
    width: 94%;
    border: 0px;
    margin-right: 3%;
    position: relative;
    right: 2%;
}

.get-involved-txt {
  display: flex;
  flex-basis: 25%;
  justify-content: space-around;
}

.get-involved h1 {
  /*margin: 0% 7%;*/
  width: 70%;
  margin-right: -5%;
}

.get-involved p {
  /*margin: 0% 7%;*/
  width: 70%;
  margin-right: -5%;
  margin-bottom: 15%;
}

#title {
  margin-top: 5%;
  margin-bottom: 0px;
}

.get-involved-watch {
  margin-right: -5%;
  width: 110%;
}

.get-involved-meetup {
  width: 110%;
  margin-right: -10%;
}

.get-involved-take-notes {
  margin-right: -5%;
}

.rashomon-img {
  height: 100%;
}

.other-films {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 0px;
}

.bicycle-thief {
  width: 50%;
}

.bicycle-thief img {
  height: 65%;
  width: 100%;
}

.train-robbery {
  width: 50%
}

.train-robbery img {
  height: 65%;
}

.nosferatu {
  width: 50%;
  margin-left: 5%;
  margin-bottom: 7%;
}
.nosferatu img {
  height: 65%;
  width: 100%;
}

.metropolis {
  width: 50%;
  margin-left: 2.5%;
  margin-bottom: 7%;
  margin-right: 5%;
}
.metropolis img {
  height: 65%;
  width: 100%;
}

.home-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#home-footer {
  background-color: #00A5BF;
  padding: 6.5% 5%;
  height: 100%;
}

#calendar-footer {
  background-color: #00B7D3;
  padding: 6.5% 3.5%;
}

#join-footer {
  background-color: #00D5E7;
  padding: 6.5% 6%;
}

.copyright {
  background-color: #ABF6F6;
  /*padding: 12% 15%;*/
  width: 100%;
  text-align: right;
  padding: 6.5% 2%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .main-nav {
    background-color: white;
  }

  .nav-titles {
    display: flex;
    /*height: 100%;*/
    flex-direction: row;
    justify-content: flex-start;
  }

  .logo {
    width: 12%;
    height: 12%;
  }


  #home {
    background-color: #00A5BF;
    padding: 10% 7.5%;
    height: 100%;
  }

  #calendar {
    background-color: #00B7D3;
    padding: 10% 5%;
    height: 100%;
  }

  #join {
    background-color: #00D5E7;
    padding: 10% 9%;
    height: 100%;
  }

  #light-blue {
    background-color: #ABF6F6;
    width: 100%;
    padding-right: 75%;
  }

  #logo-main {
    background-color: #F5005B;
    padding: 13.5% 12%;
    height: 100%;
    width: 90%;
    border: 0px;
    margin-right: 3%;
    position: relative;
    right: 2%;
  }

  .rashomon-flex {
    display: flex;
    justify-content: space-around;
  }

  .rashomon {
    height: 100%;
    width: 50%;
    padding: 1.5%;
  }

  .rashomon-txt h3 {
    margin-top: 1%;
  }

  .rashomon-txt h5 {
    margin-top: 1%;
    margin-bottom: 0%;
  }

  .rashomon-txt ul {
    line-height: 65%;
    margin-top: 10%;
    padding-left: 20%;
  }

  .other-films {
    padding: 4%;
    background-color: #E2E2E2;
    margin-left: 3%;
    margin-top: 0%;
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    width: auto;
    padding: 0% 0% 8% 1%;
  }

  .train-robbery {
    width: 45%;
    margin-right: 2.5%;
    margin-bottom: 0%;
    margin-top: 2%;
  }

  .bicycle-thief {
    width: 45%;
    margin-left: 2.5%;
    margin-bottom: 0%;
    margin-top: 2%;
  }
  .bicycle-thief img {
    height: 70.5%;
    width: 100%;
  }

  .train-robbery img {
    height: 70.5%;
    width: 100%;
  }

  .nosferatu {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 0%;
  }

  .nosferatu img {
    height: 70.5%;
    width: 100%;
  }

  .metropolis {
    width: 45%;
    margin-left: 2.5%;
  }

  .metropolis img {
    height: 70.5%;
    width: 100%;
  }

  .home-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #home-footer {
    background-color: #00A5BF;
    padding: 6.5% 5%;
    height: 100%;
  }

  #calendar-footer {
    background-color: #00B7D3;
    padding: 6.5% 3.5%;
  }

  #join-footer {
    background-color: #00D5E7;
    padding: 6.5% 6%;
  }

  .copyright {
    background-color: #ABF6F6;
    /*padding: 12% 15%;*/
    width: 100%;
    text-align: right;
    padding: 6.5% 2%;
    height: 100%;
  }
}
